body {
    margin-top: 110px;
    font-family: 'PT Sans', sans-serif;
}

.header {
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 1px solid #6a6a6b;
}

.underheader {
    background-color: #00539b;
    position: absolute;
    top: 110px;
    left: 0;
    right: 0;
    height: fit-content;
    border: 1px solid #6a6a6b;
}

.underheader-container {
    width: 85%;
    height: fit-content;
    margin: 0px auto;
    display: flex;
    gap: 3px;

    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.underheader-container a {
    flex: 1;
    white-space: nowrap;
    width: fit-content;

    background-color: #00539b;
    padding: 14px 20px;
    border-width: 0px;
    color: white;
    font-size: 112.5%;

    text-decoration: none;
    text-decoration-color: white;

    text-align: center;
}

.underheader-container a:hover {
    background-color: #003a6d;
    text-decoration: underline;
    text-decoration-color: white;
    cursor: pointer;
}

.underheader-container a:active {
    outline: #FFB400 solid 3px;
    background-color: #FFB400;
    color: black;
    text-decoration: underline;
    text-decoration-color: rgb(0, 0, 0);
}

.logo {
    flex: 1;
    background-image: url("../images/logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 60px;
    max-width: 325px;
    margin-left: 75px;
    background-position: left center;
}

.logo span {
    display: none;
}

.search-container {
    flex: .3;
    width: 0px;
    height: 30px;
    margin-right: 75px;
    display: flex;
    align-content: center;
}

.search-bar {
    flex: 1;
    height: 100%;
    width: 0;

    padding-left: 10px;
    padding-right: 100px;

    border-width: 1px;
    border-style: solid;
    border-color: rgb(96,96,96);
    border-radius: 0px;

    font-size: 700;
    transition: box-shadow ease-in-out 0.2s;
    z-index: 2;
}

.search-bar:focus {
    outline: 3px solid #FFB400;
    box-shadow: inset 0 0 0 2px #6a6a6b;
    display: inline-block;
}

.search-button {
    height: 34px;
    width: 34px;
    flex-shrink: 0;

    background-color: rgb(0, 100, 208);

    border-radius: 0px;
    border-style: solid;
    border-color: rgb(96,96,96);
    border-width: 1px;
}

.search-button:hover {
    background-color: rgb(0, 81, 169);
}

.search-button:active {
    background-color: rgb(0, 64, 133);
}
.photo {
    flex: 1;
    background-image: url("../images/webbanner.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
    max-width: 3700px;
    margin-left: 0px;
    background-position: center;

}
.box {
   
    background-color: #00539b;
    height: 300px;
    width: 500px;
    border: 1px solid #6a6a6b;
    display:flex ;

    
}
